<ion-view title="Jobs">
  <ion-content>
  	<div class="list list-inset">

	    <div class="list list-inset">
		    <a class="item item-avatar" href="#/tab/dash/plumbers">
		      <img src="img/pipe7.png">
		      <h2>Plumbers</h2>
		    </a>
		    <a class="item item-avatar" href="#/tab/dash/builders">
		      <img src="img/worker20.png">
		      <h2>Builders</h2>
		    </a>
		    <a class="item item-avatar" href="#/tab/dash/handymen">
		      <img src="img/helmet6.png">
		      <h2>Handymen</h2>
		    </a>
		    <a class="item item-avatar" href="#/tab/dash/electricians">
		      <img src="img/plug37.png">
		      <h2>Electricians</h2>
		    </a>
	    </div>

	</div>
  </ion-content>
</ion-view>

