<ion-view title="Dashboard">
  <ion-content scroll="false">


    <div class="list list-inset" ng-if="jobs.length == 0">

      <a class="item">
        <p>You currently have no jobs assigned to you.</p>
      </a>
    </div>



    <div class="list list-inset" ng-if="jobs.length > 0">

      <a ng-repeat="job in jobs" class="item item-avatar" href="#/tab/jobdetails/{{job._id}}">
        <img src="img/person_placeholder.png">
        <h2>{{job.requesting_user.name}}</h2>
        <p>Job Status: {{job.status}}</p>
        <p>Job Date: {{job.date}}</p>
        <p>Job Time: {{job.time}}</p>
      </a>
    </div>

			
	
  </ion-content>
</ion-view>
